* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: 24px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    padding: 15vh 5%;
    width: 100%;
    height: 100vh;
    justify-content: left;
    flex-direction: column;
    overflow: hidden;
}

.boxOfSaldo {
    position: relative;
    background-color: var(--color-sec);
    padding: 8%;
    border-radius: 10px;
    height: 200px;
}

.boxOfSaldo div {
    position: absolute;
    bottom: 5%;    
    width: 85%;
    border-radius: 10px;
}

.boxOfSaldo button {
    background-color: var(--color-main);
    width: 100%;
    padding: 2%;
    border-radius: 10px;
    text-align: center;
}

.boxOfButtons {
    width: 100%;
    height: 25vh;
    margin-top: 10%;
    font-size: 48px;
    display: flex;
    gap: 7%;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.boxOfButtons button {
    padding: 10%;
    border-radius: 10px;
    display: inline;
    color: var(--color-main);
}

.boxOfStatistics {
    background-color: var(--color-sec);
    padding: 8%;
    border-radius: 10px;
    height: 200px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.divTransfer {
    position: fixed;
    z-index: 1; 
    left: 5%;
    top: 30vh;
    width: 90%; 
    height: auto; 
    padding: 2%;
    display: none;
    border-radius: 10px;
    background-color: var(--color-sec);
    justify-content: center; 
    align-items: center; 
    transition: 0.5s ease-in-out;
}

.divTransfer input {
    width: 100%;
    margin-top: 1vh;
    display: inline-block;
    padding: 2%;
    background-color: var(--color-ter);
    padding-left: 2%;
    border-radius: 10px;
    color: var(--color-font);
    caret-color: var(--color-font);
}

.divTransfer button {
    width: 100%;
    padding: 2%;
    border-radius: 10px;
    margin-top: 1vh;
}